data/design_gibson/
data/design_slim/
data/ep-library-profile/
data/mutation_caller/
data/nextera_designer/
data/umi_hunter/
results/design_gibson/
results/design_slim/
results/ep-library-profile/
results/mutation_caller/
results/nextera_designer/
results/umi_hunter/

